
$font-p: 'Merriweather', serif;
$font-s: 'Open Sans', sans-serif;

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
	height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
html, body, *{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
  width: 100%;
  height: 100%;
  font-size: 16px;
	font-family: $font-p;
}
.container{
  width: 100%;
  height: 100%;
  background: white;
}
.header{
  height: 20%;
  width: 100%;
  display: inline-block;
  font-family: $font-p;

  > *{
    display: inline-block;
  }
  .logo{
    width: 17%;
    height: 100%;
    background: #141414;
    font-weight: bold;
    padding-left: 3%;


    > *{
      display: inline-block;
    }
    img{
      vertical-align: middle;
      max-height: 112px;
      width: 50%;
      position: relative;
      margin-top: 8%;

    }
    p{
      color: white;
    }
  }
  .quick-nav{
    width: 50%;
    padding-left: 8.33333333333333%;
    font-style: italic;

    ul{
      :nth-child(2){
        margin: 0 2.5%;
      }
    }
    li{
      display: inline-block;
    }
    a{
      text-decoration: none;
      color: #141414;
    }
  }
  .header-cta{
    width: 24%;

    > *{
      display: inline-block;
    }
  }
  .nav-btn{
    width: 8%;
    padding-right: 3%;

    img{
      float: right;
      position: relative;
      top: -50%;
      transform: translateY(50%);
    }
  }
}


//////////////////////////////////////////////////////////////////Layout & Styles
.main{
  width: 100%;
  height: 80%;
  padding: 3%;
  display: inline-block;

  .main-module{
    background: #141414;
    width: 100%;
    height: 100%;
  }

  .landing{
    text-align: center;
    color: white;
  }
}