
$font-p: 'Merriweather', serif;
$font-s: 'Open Sans', sans-serif;

html{
	box-sizing: border-box;
	-ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
	height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}
html, body, *{
	padding: 0;
	margin: 0;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body{
  width: 100%;
  height: 100%;
  font-size: 16px;
	font-family: $font-p;
  background: darkred;
}
.hidden{
  display: none;
}
//////////////////////////////////////////////////////////////////Layout & Styles
.site-container{
  background: white;
  color: #141414;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.header{
  width: 100%;
  height: 170px;
  padding-bottom: 25px;
  position: relative;
  z-index: 2;
  background: white;

  ul{
    list-style-type: none;
    :nth-child(2){
      margin-right: 50px;
      margin-left: 50px;
    }

    li{
      display: inline-block;
    }
  }
  a{
    text-decoration: none;
    color: #141414;
  }
  .logo, .quick-nav, .header-cta,{
    display: inline-block;
  }
  .logo{
    width: 20%;
    min-width: 250px;
    height: 100%;
    background: #141414;
    color: white;
    vertical-align: middle;
    position: relative;
    z-index: 3;

    img, p{
      display: inline-block;
    }

    img{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      vertical-align: top;
      margin-left: 5px;
    }

    p{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
    }
  }
  .quick-nav{
    text-align: center;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-style: italic;
    margin-left: 10%;
  }
  .header-cta{
    position: absolute;
    top: 0;
    right: 150px;
    width: 20%;
    height: 145px;
    min-width: 255px;
    text-align: right;
    vertical-align: top;

    p{
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 5px;
    }
    .cta{
      display: inline-block;
      height: 100%;
      background: #3cb879;
      width: 65%;
      min-width: 150px;
      text-align: center;

    }
  }
  .nav{
    height: 100%;
    width: 150px;
    vertical-align: top;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    text-align: center;
    background: white;

    a{
      height: 36px;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.main{
  width: 100%;
  height: 80%;
  background: white;
}
.pop-out-nav{
  background: #141414;
}
.box-1, .box-2, .box-3, .box-4{
  background: #141414;
  color: white;
  text-align: center;
  height: 100%;
  width: 97%;
  margin: 0 auto;
}
.fullpage-wrapper {
  width: 100%!important;
  transform: none!important;
}

.fp-section {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: all .7s ease-in-out;
}

.fp-section.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.spacer{
  content:'';
  background: white;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
////////////////////////////////////////////////////////////////media querries

@media screen and (max-width: 1250px){
  .header{
    .quick-nav{
      margin-left: 7.5%;
    }
  }
}
@media screen and (max-width: 1150px){
  .header{
    .quick-nav{
      margin-left: 6.5%;
    }
  }
}
@media screen and (max-width: 1110px){
  .header{
    .quick-nav{
      margin-left: 4%;
    }
  }
}
@media screen and (max-width: 1050px){
  .header{
    .quick-nav{
      margin-left: 15%;
    }
    .header-cta{
      display: none;
    }
  }
}
@media screen and (max-width: 900px){
  .header{
    .quick-nav{
      margin-left: 10%;
    }
  }
}
@media screen and (max-width: 850px){
  .header{
    .quick-nav{
      margin-left: 8%;
    }
  }
}
@media screen and (max-width: 800px){
  .header{
    .quick-nav{
      margin-left: 6%;
      ul{
        :nth-child(2){
          margin: 0 35px 0 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 750px){
  .header{
    .quick-nav{
      margin-left: 4%;
    }
  }
}
@media screen and (max-width: 700px){
  .header{
    .quick-nav{
      margin-left: 2%;
       ul{
        :nth-child(2){
          margin: 0 25px 0 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 650px){
  .header{
    .quick-nav{
      margin-left: .5%;
       ul{
        :nth-child(2){
          margin: 0 20px 0 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 624px){
  .header{
    .logo{
      width: 74.5%;
    }
    .quick-nav{
      display: none;
    }
  }
}
@media screen and (max-width: 380px){
  .header{
    .logo{
      width: 50%;

      img, p{
        display: block;
      }
      img{
        width: 25%;
        position: relative;
        left: 35px,
      }
      p{
        left: 27px;
      }
    }
    .quick-nav{
      display: none;
    }
  }
}