<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(rel="stylesheet", href="Css/slippry.css" type="text/css")
	link(rel="stylesheet", href="Css/fullPage.css" type="text/css")
	script(src="https://use.fontawesome.com/fc9ea1b824.js")
	script(src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js")
	title LunarCube Studio
body
	.site-container
		.header
			.logo
				img(src="assets/logo.svg", alt="image of logo for LunarCube site.")
				p LunarCube

			.quick-nav
				ul
					li
						a(href="#") Portfolio
					li
						a(href="#") Blog
					li
						a(href="#")	Github

			.header-cta
				p Got Work?
				a.cta(href="#")
					p Hire Me!

			.nav
				a(href="#"): img(src="assets/burger-btn.svg", alt="")

			.pop-out-nav.hidden
				ul.pop-out-nav-list
					li
						a(href="#") Home
					li
						a(href="#") Vision
					li
						a(href="#") Studio
					li
						a(href="#") Contact
					li
						a(href="#") Resume
				.social-wrapper
					img(src="assets/twitter-icon.svg", alt="twitter logo")
					img(src="assets/facebook-icon.svg", alt="facebook logo")
					img(src="assets/linkedin-icon.svg", alt="linkedin logo")
					img(src="assets/dribble-icon.svg", alt="dribble logo")

		.main
			#fullpage
				.section.landing
					.box-1
						p Landing!
				.section.vision
					.box-2
						p Vision!
				.section.studio
					.box-3
						p Studio!
				.section.contact
					.box-4
						p Contact!
		

	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")
	script(type="text/javascript" src="js/flowtype.js")
	script(type="text/javascript" src="js/jquery.fullPage.js")
	script(type="text/javascript" src="js/slippry.js")