<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet")
	link(rel="stylesheet", href="Css/mystyles.css" type="text/css")
	link(rel="stylesheet", href="Css/slippry.css" type="text/css")
	script(src="https://use.fontawesome.com/fc9ea1b824.js")
	script(src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js")
	title LunarCube Studio
body

	script(type="text/javascript" src="js/jquery.js")
	script(type="text/javascript" src="js/myjavascript.js")
	script(type="text/javascript" src="js/flowtype.js")
	script(type="text/javascript" src="js/slippry.js")